app.css
.container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
}

li {
  list-style: none;
  margin: 10px;
}